{namespace a=Tx_Assets_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
<div class="assetList clearfix">
	<f:for each="{assets}" as="asset" iteration="assetIterator">
	
		<f:if condition="{asset -> a:isImage()}">
			<div class="assetItem assetItemImage">
				<a href="{f:uri.image(src: '{asset.image}' maxWidth: 860, maxHeight: 540)}" class="lightbox assetItemImage">
					<f:image src="{asset.image}" alt="{asset.name}" maxWidth="150" maxHeight="150" />
					<span></span>
				</a>
			</div>
		</f:if>

	</f:for>
</div>
</f:section>